# version: '3.8'

services:
  postgres:
    # Postges with TimescaleDB extension and PostGIS
    # Using TimescaleDB for time-series data and PostGIS for geospatial data
    image: timescale/timescaledb-ha:pg15.13-ts2.20.1
    container_name: wildlife_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wildlife
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d  # mount init script directory for custom initialization

    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: wildlife_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@wildlife.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres


  # zookeeper:
  #   image: zookeeper:3.9
  #   container_name: wildlife_zookeeper
  #   ports:
  #     - "2181:2181"

  # kafka:
  #   image: wurstmeister/kafka:2.12-2.5.0
  #   container_name: wildlife_kafka
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     KAFKA_BROKER_ID: 1
  #     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
  #     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
  #     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  #   depends_on:
  #     - zookeeper

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
  #   container_name: wildlife_elasticsearch
  #   environment:
  #     - discovery.type=single-node
  #     - ES_JAVA_OPTS=-Xms512m -Xmx512m
  #   ports:
  #     - "9200:9200"
  #   volumes:
  #     - esdata:/usr/share/elasticsearch/data
  #   healthcheck:
  #     test: ["CMD-SHELL", "curl -fs http://localhost:9200/ || exit 1"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: wildlife_backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/wildlife
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      ELASTICSEARCH_URL: http://elasticsearch:9200
    depends_on:
      - postgres
      - kafka
      - elasticsearch

  frontend:
    build:
      context: ./frontend
      # dockerfile: Dockerfile
      dockerfile: Dockerfile.dev
    container_name: wildlife_frontend
    ports:
      # - "3000:80"
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true  # helps with file watching on Docker volumes
    volumes:
      - ./frontend:/app
      - /app/node_modules
  locust:
    build: 
      context: ./locust
      dockerfile: Dockerfile
    container_name: locust
    ports:
      - "8089:8089"
    environment:
      - LOCUST_HOST=http://backend:8000  # OR http://localhost:8000 if running outside Docker
    volumes:
      - ./locust:/locust  # Make sure this points to the dir containing locustfile.py
    working_dir: /locust
    depends_on:
      - backend

volumes:
  pgdata:
  esdata:
